.Aspirante {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  text-align: left;
  justify-content: center;
  padding-bottom: 1rem;
  //centro los elementos en el eje y
  padding-top: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  font-weight: normal;
  .image-container {
    align-self: center;
    order: 1;
    .custom-image {
      border-radius: 1rem;
      max-height: 120px;
      max-width: 100%;
    }
  }
  .custom-label {
    align-self: center;
    margin-top: 0px;
    order: 2;
    padding-left: 1.5rem;
    .nombre {
      font-size: 1.5rem;
      font-weight: normal;
      color: #333;
      padding-bottom: 12px;
    }
  }
}
