.principal-content {
  padding: 17px;
  padding-top: 2rem;
}
.iconoRegister {
  background-color: var(--ion-background-color-dark);
  color: white;
  padding: 20px;
  font-size: 50px;
  border-radius: 1rem;
}
.fila {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.columnaIcono {
  float: left;
  padding-right: 5px;
  margin-bottom: 1.5rem;
}
.columnaRegister {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  cursor: pointer;
}
.textRegister {
  font-size: 12px;
  font-weight: bold;
  white-space: break-spaces;
}
.textStatus {
  font-weight: normal;
}
