.error {
  color: var(--ion-color-danger);
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  text-align: right;
  text-transform: none;
  white-space: normal;
  word-wrap: break-word;
}
