<div class="ion-page" id="main-content">
  <app-head [title]='"Recuperar Contraseña"'></app-head>
  <ion-content class="ion-padding">
    <div *ngIf="waiting">
      <app-complete-spinner></app-complete-spinner>
    </div>
    <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" size-md="6">
            <ion-title class="resgistrationText"
              >Recuperar Contraseña</ion-title
            >
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" size-md="6">
            <ion-item>
              <ion-icon slot="start" name="mail"></ion-icon>
              <ion-input
                formControlName="email"
                labelPlacement="floating"
                aria-label="Correo electrónico"
                label="Correo electrónico"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="isError('email')">
              <app-input-error
                [messageError]='getMessageError("email")'
              ></app-input-error>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" size-md="6">
            <ion-item>
              <ion-icon slot="start" name="calendar"></ion-icon>
              <ion-input
                type="date"
                formControlName="birthday"
                label="Fecha de nacimiento"
                aria-label="Fecha de nacimiento "
                labelPlacement="floating"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="isError('birthday')">
              <app-input-error
                [messageError]='getMessageError("birthday")'
              ></app-input-error>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" size-md="6"> </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" size-md="6">
            <ion-button
              type="submit"
              expand="block"
              shape="round"
              [disabled]="waiting || recoveryForm.invalid"
              >Recuperar Contraseña</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>
</div>
