/** Ionic CSS Variables **/
:root {
  /* Primary */
  --ion-color-primary: #000000; /* Azul frío */
  --ion-color-primary-rgb: 51, 102, 153;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #e2e2e2; /* Sombra más oscura */
  --ion-color-primary-tint: #f0f0f0; /* Brillo más claro */
  /* backgorund*/
  --ion-background-color: #f1f1f1;
  --ion-background-color-dark: #242424;
  --ion-background-url-dark: url("/assets/fondos/Sobre-fondo-oscuro.png");
  --ion-background-url: url("/assets/fondos/Sobre-fondo-claro.png");
  --uam-url-dark: url("/assets/Logo-Grande-Negro.svg");
  --uam-url-light: url("/assets/Logo-Grand-Blanco.svg");
  /* Secondary */
  --ion-color-secondary: #eeeeee; /* Cian frío */
  --ion-color-secondary-rgb: 102, 204, 204;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #d0dada;
  --ion-color-secondary-tint: #c9cbcb;
  /* Tertiary */
  --ion-color-tertiary: #6699cc; /* Azul claro frío */
  --ion-color-tertiary-rgb: 102, 153, 204;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5984b5;
  --ion-color-tertiary-tint: #7aa3d1;
  /* Success */
  --ion-color-success: #1a1a1a; /* Verde fuerte */
  --ion-color-success-rgb: 0, 128, 0;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  app-root,
  ion-content,
  ion-toolbar {
    --background: none;
  }
  --ion-color-success-shade: #006400; /* Sombra más oscura */
  --ion-color-success-tint: #009900; /* Brillo más claro */
  /* Warning */
  --ion-color-warning: #eeeeee; /* Naranja pastel */
  --ion-color-warning-rgb: 255, 160, 122;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e5987a; /* Sombra más oscura */
  --ion-color-warning-tint: #ffd1a9; /* Brillo más claro */
  /* Danger */
  --ion-color-danger: #4f4f4f; /* Pink/Red */
  --ion-color-danger-rgb: 215, 38, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #c42234;
  --ion-color-danger-tint: #e73c50;
  /* Dark */
  --ion-color-dark: #333333; /* Dark Gray */
  --ion-color-dark-rgb: 51, 51, 51;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #2d2d2d;
  --ion-color-dark-tint: #474747;
  /* Medium */
  --ion-color-medium: #a0a0a0; /* Light Gray */
  --ion-color-medium-rgb: 160, 160, 160;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #8c8c8c;
  --ion-color-medium-tint: #a9a9a9;
  /* Light */
  --ion-color-light: #f9f9f9; /* Off-White */
  --ion-color-light-rgb: 249, 249, 249;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #e2e2e2;
  --ion-color-light-tint: #f6f6f6;
}
@font-face {
  font-family: "uamIcons";
  src: url ("assets/fonts/uam-icons/iconos/font/fontello.eot");
  src:
    url ("assets/fonts/uam-icons/iconos/font/fontello.eot")
      format("embedded-opentype"),
    url ("assets/fonts/uam-icons/iconos/font/fontello.woff") format("woff"),
    url ("assets/fonts/uam-icons/iconos/font/fontello.ttf") format("truetype"),
    url ("assets/fonts/uam-icons/iconos/font/fontello.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
body,
app-root,
ion-content,
ion-toolbar {
  --background: none;
}
