<app-menu></app-menu>
<div class="ion-page" id="main-content">
  <app-head [title]='"Aviso de Privacidad"'></app-head>
  <ion-content class="ion-padding" id="home-content">
    <div class="principal-content">
      <h1>Título Principal del Aviso de Privacidad</h1>
      <p>
        Este es un aviso de privacidad que tiene como objetivo informarte sobre
        cómo se recopilan, utilizan y protegen tus datos personales en nuestra
        aplicación. Te recomendamos leer detenidamente esta información.
      </p>
      <h2>Información Personal Recopilada</h2>
      <p>
        Recopilamos información personal, como tu nombre, dirección de correo
        electrónico y fecha de nacimiento, cuando te registras en nuestra
        plataforma.
      </p>
      <h2>Uso de la Información</h2>
      <p>
        Utilizamos la información recopilada para brindarte una experiencia
        personalizada en nuestra aplicación y para mejorar nuestros servicios.
      </p>
      <h2>Seguridad de los Datos</h2>
      <p>
        Tu seguridad es importante para nosotros. Implementamos medidas de
        seguridad para proteger tus datos personales y garantizar su
        confidencialidad.
      </p>
      <h2>Contacto</h2>
      <p>
        Si tienes alguna pregunta o inquietud sobre nuestro aviso de privacidad,
        no dudes en ponerte en contacto con nosotros.
      </p>
    </div>
  </ion-content>
</div>
